<!DOCTYPE html>
<html lang="en">
<%- include("./partials/header.ejs") %>
<br><br>
    <main>
        <div id="search-form">
            <form method="POST" action="/search">
                <p><strong>Select fields to fetch:</strong></p>
                <div id="checkboxes">
                    <input type="checkbox" id="imei" name="imei" value="imei">
                    <label for="imei" class="checkbox-label">IMEI</label>
                    <input type="checkbox" id="mac" name="macAddress" value="macAddress">
                    <label for="mac" class="checkbox-label">Device MAC</label>
                    <input type="checkbox" id="dom" name="dateOfManufacture" value="dateOfManufacture">
                    <label for="dom" class="checkbox-label">D.O.M</label>
                    <input type="checkbox" id="lom" name="locationOfManufacture" value="locationOfManufacture">
                    <label for="lom" class="checkbox-label">L.O.M</label>
                    <input type="checkbox" id="brand" name="phoneBrand" value="phoneBrand">
                    <label for="brand" class="checkbox-label">Brand</label>
                    <input type="checkbox" id="suffix" name="modelSuffix" value="modelSuffix">
                    <label for="suffix" class="checkbox-label">Model Suffix</label>
                    <br>
                    <input type="checkbox" id="height" name="height" value="height">
                    <label for="height" class="checkbox-label">Height</label>
                    <input type="checkbox" id="width" name="width" value="weight">
                    <label for="width" class="checkbox-label">Width</label>
                    <input type="checkbox" id="cpu" name="cpu" value="cpu">
                    <label for="cpu class="checkbox-label"">CPU</label>
                    <input type="checkbox" id="ram" name="ram" value="ram">
                    <label for="ram" class="checkbox-label">RAM</label>
                    <input type="checkbox" id="screen" name="screenSize" value="screenSize">
                    <label for="screen" class="checkbox-label">Screen Size</label>
                    <input type="checkbox" id="color" name="color" value="color">
                    <label for="color" class="checkbox-label">Color</label>
                </div>

                <br>
                <label for="serviceTags"><strong>Enter Service Tag(s):</strong></label>
                <br>
                <input type="text" id="serviceTags" name="serviceTags">
                <br>
                <button type="submit">SEARCH</button>
            </form>
        </div>
    </main>
    <%- include("./partials/footer.ejs") %>
</html>