<!DOCTYPE html>
<html lang="en">
<%- include("./partials/header.ejs") %>
<br><br>
    <main>
        <div id="search-form">
            <form method="POST" action="/search">
                <label for="fields">Enter field(s) to fetch:</label>
                <br>
                <input type="text" id="fields" name="fields">
                <br>
                <label for="serviceTags">Enter Service Tag(s):</label>
                <br>
                <input type="text" id="serviceTags" name="serviceTags">
                <br>
                <button type="submit">SEARCH</button>
            </form>
        </div>
    </main>
    <%- include("./partials/footer.ejs") %>
</html>